{% extends 'base.html.twig' %}

{% block title %}CalculatedMatch index{% endblock %}

{% block body %}
    <h1>CalculatedMatch index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Time</th>
                <th>StartTime</th>
                <th>EndTime</th>
                <th>RawPositions</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for calculated_match in calculated_matches %}
            <tr>
                <td>{{ calculated_match.id }}</td>
                <td>{{ calculated_match.time }}</td>
                <td>{{ calculated_match.startTime }}</td>
                <td>{{ calculated_match.endTime }}</td>
                <td>{{ calculated_match.rawPositions }}</td>
                <td>
                    <a href="{{ path('calculated_match_show', {'id': calculated_match.id}) }}">show</a>
                    <a href="{{ path('calculated_match_edit', {'id': calculated_match.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('calculated_match_new') }}">Create new</a>
{% endblock %}
